/*
 *	Colors:
 *		#585DA3 - "Liberty"
 *		#43579E - "Queen Blue"
 *		#78C0E0 - "Aero"
 *		#449DD1 - "Celestial Blue"
 *		#4E0250 - "Tyrian Purple"
 *		#484041 - "Dark Puce"
 *		#673C4F - "Deep Tuscan Red"
 */

 @font-face {
 	font-family: "Quad";
 	src: url("fonts/Quad_Light.otf") format("opentype");
 }

body {
	width: 100%;
	background: linear-gradient(#43579E, #449DD1);
	background-repeat: no-repeat;
	background-size: auto;
	font-family: Roboto;
}

html {
	padding: 0px;
	margin: 0px;
}


/* Menu Bar Style */

.top {
	width: 100%;
}

.menuBar ul {
	width: 100%;
	display: inline-block;
	float: right;
	list-style: none;
}

.menuBar ul li {
	margin: 0px;
	float: left;
	width: 33.3%;
	height: 40px;
	background-color: #449dd1;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}

.menuBar ul li a {
	text-decoration: none;
	color: #484041;
	display: block;
}

.menuBar ul li a:hover {
	background-color: #78c0e0;
	color: #484041;
}

.menuBar ul li ul li {
	display: none;
}

.menuBar ul li:hover ul li {
	display: block;
}

/*.logo {
	float: left;
	display: inline-block;
	width: 33%;
	height: 40px;
}*/

#nameDiv {
	height: 800px;
}

#name {
	font-size: 400%;
	color: #78c0e0;
	font-family: Quad;
	font-weight: 400;
	text-shadow: 1px 1px #673C4F;

/*	font-family: 'Aladin', cursive;
	letter-spacing: 3px;
	font-weight: lighter;*/
	/*font-family: 'Merienda One', cursive;*/
}